@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.header-Wrapper{
    position: relative;
    background: url('https://i.ibb.co/608n0kX/nubelson-fernandes-Xqckh-XVU4-unsplash.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.main-info{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.main-info h1{
    color: whitesmoke;
    text-transform: uppercase;
}
.typed-text{
    font-size: 2rem;
    color: whitesmoke;
}

.tsparticles-canvas-el{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}
